<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>JP's Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title>PlatosPrincipales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let plato of platos" (click)="addToCart(plato)">
          <ion-thumbnail slot="start">
            <img [src]="plato.imageUrl" alt="Imagen de {{ plato.name }}" />
          </ion-thumbnail>
          <ion-label>{{ plato.name }}</ion-label>
          <ion-button slot="end">Agregar al carrito</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
