<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Categorías</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item button routerLink="/entradas">
        <ion-thumbnail slot="start">
          <img src="assets/img/Entradas.png" alt="Entradas">
        </ion-thumbnail>
        <ion-label>Entradas</ion-label>
      </ion-item>
      <ion-item button routerLink="/platos-principales">
        <ion-thumbnail slot="start">
          <img src="assets/img/PlatosPrincipales.png" alt="Platos Principales">
        </ion-thumbnail>
        <ion-label>Platos Principales</ion-label>
      </ion-item>
      <ion-item button routerLink="/postres">
        <ion-thumbnail slot="start">
          <img src="assets/img/Postres.png" alt="Postres">
        </ion-thumbnail>
        <ion-label>Postres</ion-label>
      </ion-item>
      <ion-item button routerLink="/bebestibles">
        <ion-thumbnail slot="start">
          <img src="assets/img/Bebestibles.png" alt="Bebestibles">
        </ion-thumbnail>
        <ion-label>Bebestibles</ion-label>
      </ion-item>
      <ion-item button routerLink="/bajativos">
        <ion-thumbnail slot="start">
          <img src="assets/img/Bajativos.png" alt="Bajativos">
        </ion-thumbnail>
        <ion-label>Bajativos</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>



<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Menu
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="ion-padding">
    <div id="container" class="white-background">
      <h2>Acerca de Nosotros</h2>
      <p>
        Restaurante de alta gama especializado en comida buffet para servir o llevar, ubicado en xxxxxx.
      </p>
      <h3>Horario de Atención:</h3>
      <p class="opening-hours">
        Lunes a Viernes: 8:00 AM - 10:00 PM
        <br>
        Sábado y Domingo: 10:00 AM - 11:00 PM
      </p>
    </div>
  </ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Perfil">
        <ion-icon name="person"></ion-icon>
        Perfil
      </ion-tab-button>
      <ion-tab-button tab="">
        <ion-icon name="basket"></ion-icon>
        Promociones
      </ion-tab-button>
      <ion-tab-button tab="CarroCompras">
        <ion-icon name="cart"></ion-icon>
        Carro
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>

