ion-content {
    --background: none;
  }
  
  .registration-form {
    width: 90%;
    max-width: 400px;
  }

  .registration-container{

    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
  }
  